#header{
    height: 20%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
body{
    background-color: goldenrod;
}
#logo{
    margin-left: 60%;
}
.nav{
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    background-color: black;
    color: white;
    border: none;
    padding: 4px;
}
.nav:hover{
    background-color: goldenrod;
    color: black;
    border-radius: 12px;
}

#footer{
    height: 60px;
    width: 100%;
    background-color: black;
    margin-top: 5%;
}
#copyright{
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    color: white;
}
#facebook{
    float: left;
    margin-top: 2px;
    margin-left: 63%;
}
#instagram{
    float: left;
    margin-top: 2px;
    margin-left: 5pxs;
}
.button{
    margin-left: 20px;
    background-color: black;
    color: goldenrod;
}
/*everything below is for the About us form.*/
#container{
    width: 300px;
    height: 350px;
    background-color: black;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 15px;
}
.boxes{
    width: 230px;
    height: 35px;
    color: black;
    margin-left: 30px;
    margin-top:20px;
    border-radius: 10px;
    border-color: azure;
}
#login{
    width: 230px;
    height: 35px;
    color: black;
    margin-left: 35px;
    margin-top:20px;
    border-radius: 10px;
}
#login:hover{
    background-color: gold;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}