#header{
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
body{
    background-color: goldenrod;
}
#logo{
    margin-left: 65%;
}
.nav{
    margin-top: 15px;
    margin-left: 15px;
    background-color: black;
    border: none;
    color: white;
    padding: 4px;
    float: left;
    display: block;
}
.nav:hover{
    background-color: goldenrod;
    color: black;
    border-radius: 12px;
}

#footer{
    height: 60px;
    width: 100%;
    background-color: black;
    margin-top: 5%;
}
#copyright{
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    color: white;
}

/*everything below is for the contact form.*/
#container{
    width: 300px;
    height: 350px;
    background-color: black;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 15px;
}
.boxes{
    width: 230px;
    height: 35px;
    color: white;
    margin-left: 30px;
    margin-top:20px;
    border-radius: 10px;
    border-color: azure;
}
#login{
    width: 230px;
    height: 35px;
    color: white;
    margin-left: 35px;
    margin-top:20px;
    border-radius: 10px;
}
#login:hover{
    background-color: gold;
}
h1{
    color: white;
    text-align: center;
}
@media screen and (max-width:720px){
    .nav{
        float: none;
        width: 100%;
        text-align: left;
        padding: 1%;
        margin-bottom: 3px;
    }
    #logo{
        margin-left: auto;
    }
    #container{
        margin-left: 30%;
    }
}
