#header{
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
body{
    background-color: goldenrod;
}
#logo{
    margin-left: 65%;
}
.nav{
    margin-top: 15px;
    margin-left: 15px;
    background-color: black;
    border: none;
    color: white;
    padding: 4px;
    float: left;
    display: block;
}
.nav:hover{
    background-color: goldenrod;
    color: black;
    border-radius: 12px;
}

#footer{
    height: 50px;
    background-color: black;
}
#copyright{
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    color: white;
}

/*below are about the games section*/
#Games{
    height: 600px;
}
.Game{
    float: left;
    margin-top: 40px;
    margin-left: 200px;
    text-align: center;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}
.button{
    margin-left: 20px;
    background-color: black;
    color: goldenrod;
}
@media screen and (max-width:720px){
    .nav{
        float: none;
        width: 100%;
        text-align: left;
        padding: 1%;
        margin-bottom: 3px;
    }
    #logo{
        margin-left: auto;
    }
    #Games{
        height: 1200px;
    }
}
@media screen and (max-width:1024px){
    .nav{
        float: none;
        width: 100%;
        text-align: left;
        padding: 1%;
        margin-bottom: 3px;
    }
    #logo{
        margin-left: auto;
    }
    .Games{
        margin-left: 20px;
        float: left;
    }
    .button{
        margin-left: 2px;
    }
    #footer{
        margin-top: 20%;
    }
}