#header{
    height: 25%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
body{
    background-color: goldenrod;
}
#logo{
    margin-left: 60%;
}
.nav{
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    background-color: black;
    color: white;
    border: none;
    padding: 4px;
}
.nav:hover{
    background-color: goldenrod;
    border-radius: 12px;
}
#Gallery{
    height: 80%;
    width: 100%;
    background-color: goldenrod;
    float: left;
}
#footer{
    height: 60px;
    width: 100%;
    background-color: black;
    margin-top: 10%;
}
#copyright{
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    color: white;
}
#facebook{
    float: left;
    margin-top: 2px;
    margin-left: 63%;
}
#instagram{
    float: left;
    margin-top: 2px;
    margin-left: 5px;
}
.button{
    margin-left: 20px;
    background-color: black;
    color: goldenrod;
}
#demo{
    width: 800px;
    height: 400px;
    background-color: black;
    margin-left: 17%;
}
#LoginRegister{
    height: 20%;
}
.LoginRegister{
    height: 60%;
    float: left;
    margin-top: 3%;
    margin-left: 22%;
}
.buttons{
    width: 200px;
    height: 50px;
    color: white;
    border-style: solid;
    border-color: white;
    background-color: black;
    border: 3px;
    border-radius: 10px;
}
.buttons:hover{
    background-color: white;
    border-style: solid ;
    border-color: black;
    color: black;
}

